.navbar-inner {
    border-radius: 0 0 0 0;
}
#calculator-wrapper {
    font-size: 42px;
}
#calculator-wrapper .uneditable-input {
    height: 42px;
    font-size: 42px;
    line-height: 35px;
    width: 100%;
}
#calculator-wrapper .span1 {
    height: 42px;
    font-size: 42px;
}
#calculator-wrapper .span1 .visible-phone {
    line-height: 25px;
}
#calculator-wrapper .span1 .hidden-phone {
    line-height: 42px;
    text-align: center;
}
.btn {
    width: 15%;
    height: 50px;
    margin: 5px;
    line-height: 50px;
    font-weight: bold;
    font-size: 25px;
}
.span8{
    width: 100%!important;
    overflow: hidden;
}
.span6{
    width: 100%!important;
}
#calculator-result{
    height: 44px!important;
}
@media screen and (min-width: 1200px){
    .container{
        width: 700px
    }

}
@media screen and (max-width:320px){
    a.btn{
        width: 13%;
    }
    .btn .btn-primary{
        width: 100%!important;
    }
    .btn .btn-danger{
        width: 100%!important;
        margin-top:10px;
    }
}